---
title: Ellipticoin
---

<header>
  <div class="logo"></div>
  <nav>
    <a target="_blank" href="https://t.me/ellipticoin">Chat</a>
    <a target="_blank" href="https://github.com/elipticoin/elipticoin-blacksmith-node">Source Code</a>
    <a target="_blank" href="http://ellipticoin.readthedocs.io/en/latest/">Documentation</a>
    <a href="https://block-explorer.ellipticoin.org/">Block Explorer</a>
  </nav>
  <h1>
    Ellipticoin
  </h1>
  <h2>
    Let's take our power back.
  </h2>
</header>
<main class="home">
<h1>Ellipticoin is a blockchain that runs decentralized applications.</h1>

<div>
  <h2>Green</h2>
  <div>Currently, other blockchains burn more energy than all of Singapore. Ellipticoin will run a hybrid Proof of Work/Proof of Burn consensus algorithm to secure the blockchain which requires very little energy to run.</div>
</div>
<div>
  <h2>Developer Friendly</h2>
  <div>Ellipticoin runs the WebAssembly VM which means smart contracts can be written in C, C++, Rust, Kotlin or any other language that targets WebAssembly.</div>
</div>
<div>
  <h2>Scalable</h2>
  <div>The Ellipticoin Blockchain can process hundreds of transactions per second. Blocks are mined approximatly every 5 seconds and transaction fees are much lower than on other networks.
  </div>
</div>
</main>
